* {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

.container-fluid {
  height: 532px;
  background: #0656e1;
  mix-blend-mode: normal;
}

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  text-align: center;
}

h2 {
  
  margin-top: 18px;

  font-style: normal;
  font-weight: bold;
  font-size: 48px;
}

.form-control {
  background: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 15px;

  padding: 13px 15px;

  /* position: absolute; */
  width: 540px;
  height: 46px;
  margin-top: 38px;

  /* #FFFFFF */

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 6px 0px 0px 6px;
}

button {
  
  padding: 12px 27px;

  /* position: absolute; */
  width: 160px;
  height: 46px;
  left: 873px;
  margin-top: 38px;


  /* #FFFFFF */

  background: #ffffff;
  border-radius: 0px 6px 6px 0px !important;

  
font-style: normal !important;
font-weight: 600 !important;
font-size: 18px !important;
/* identical to box height */

text-align: center;

/* #404040 */

color: #404040;
}

sup {
  vertical-align: top;
  position: relative;
  top: 1em;
  font-size: 16px;
}

/* input:focus::placeholder {
  color: red;
} */

input::-webkit-input-placeholder {
  color: #ffffff !important;

  opacity: 0.4 !important;
}
input:focus::-webkit-input-placeholder {
  background-color: transparent;
  color: black;
}

img {
  /* position: absolute; */
  width: 340px;
  height: 218px;
  left: 0px;
  top: 0px;
}

.card {
  border-radius: 15px;
}

img {
  border-radius: 15px 15px 0px 0px !important;
}

.heading-1 {
  width: 301px;
  height: 44px;
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 6px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */

  text-align: center;

  /* #404040 */

  color: #404040;
}

.card-text {
  /* width: 215px; */
  height: 24px;

  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 36px;

  /* #404040 */

  color: #404040;
}

.card-title {
  /* width: 136px; */
  height: 29px;

  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  /* #0656E1 */

  color: #0656e1;
}

small {
  /* width: 74px; */
  height: 11px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  color: #404040;

  opacity: 0.9;
}

hr {
  margin-bottom: 2px;
}

.footer-1{

width: 285px;
height: 16px;


font-style: normal;
font-weight: normal;
font-size: 13px;


text-align: center;

/* #404040 */

color: #404040;

opacity: 0.6;
}

.footer-1{
  margin-top: 100px !important;
margin-bottom: 50px !important;
}

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 600px) {
  button{
    display: none;
  }
}


@media only screen and (min-width: 600px) {
  
  button{
    display: none;
  }
  .form-control{
    width: 440px;
    border-radius: 6px;
  }
  
  .icon-12{
   position: absolute; 
  margin-top: 53px;
  margin-left: 405px;
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
  button{
    display: none !important;
  }
  
  .form-control{
    width: 440px;
    border-radius: 6px;
  }
  
  

  .icon-12{
   position: absolute; 
  margin-top: 53px;
  margin-left: 405px;

}
  
 
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px ) {
   button{
    display: none !important;
  }
  .hello{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* button{
    display: none;
  } */
  .icon-12{
    display: none;
  }
  .form-control{
    border-radius: 6px 0px 0px 6px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .icon-12{
  display: none;
}
.form-control{
    width: 540px;
    border-radius: 6px 0px 0px 6px;
  }

}



.inner-addon { 
    position: relative !important; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute !important;
  padding: 10px !important;
  pointer-events: none !important;
}

/* align icon */
.left-addon .glyphicon  { left:  0px !important; }
.right-addon .glyphicon { right: 0px !important;}

/* add padding  */
.left-addon input  { padding-left:  30px !important; }
.right-addon input { padding-right: 30px !important; }